* {
  font-family: Arial, sans-serif;;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** HEADER **/

header {
  background-color: #003666;
  line-height: 40px;
  color: white;
  position: fixed;
  width: 100%;
}

header img {
  position: fixed;
}

#header h4 {
  padding-left: 20px;
}

li {
  display: inline-block;
  padding: 0px 15px;
}

#title {
  margin-left: 40px;
}

li:hover {
  color: #003666;
  background: white;
  font-weight: bold;
}

ul.dropdown {
  position: absolute;
}

ul.dropdown li{
  display: none;
}

li:hover > ul.dropdown li {
  display: block;
  background: #f6f6f5;
  border-bottom: solid 2px #9f9fa3;
}

a {
  text-decoration: none;
  color: inherit;
}

/** EMPTY **/

#empty {
  background: white;
  height: 70px;
}

/** CENTER **/

#center {
  text-align: center;
  color: #003666;
  margin-bottom: 30px;
}

#center h1 {
  font-size: 70px;
  margin: 0;
}

#center h4 {
  margin: 0;
}

#center p {
  color: #003666;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3px;
}

/* RELEASES */

#releases {
  width: 1200px;
  margin: auto;
  background: #f6f6f5;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: solid 2px #f3f3f3;
}

h3 {
  color: #003666;
  background: white;
}

#soundcloud {
  box-sizing: border-box;
  border-top: solid 2px #003666;
  width: 1200px;
  text-align: center;
}

iframe {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

/** FOOTER **/

footer {
  background: #f6f6f5;
  text-align: center;
  line-height: 35px;
  border-top: solid 2px #f3f3f3;
  color: #003666;
  position: fixed;
  width:100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 0.8em;
}
