* {
  font-family: Arial, sans-serif;;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height:100%;
  position: relative;
}

/** HEADER **/

header {
  background-color: #003666;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header img {
  position: fixed;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  padding: 0px 15px;
  position: relative;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
}

ul.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}

ul.dropdown-menu li {
  background: #004b79;
  color: white;
  width: 100%;
}

ul.dropdown-menu li:hover {
  background: #ff8800;
  font-weight: normal;
}

ul.dropdown-menu li {
  display: none;
}

li:hover > ul.dropdown-menu li {
  display: block;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

#title {
  margin-left: 40px;
}

header li:hover {
  color: #003666;
  background: white;
  font-weight: bold;
}

i {
  color: #ff8800;
}

/** EMPTY **/

#empty {
  background: white;
  height: 75px;
}

/** CENTER **/

#center {
  text-align: center;
  color: #003666;
  margin-bottom: 20px;
}

#center h1 {
  font-size: 70px;
  margin: 0;
}

#center h4 {
  margin: 0;
}

#center p {
  color: #003666;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 3px;
}

/* CONTACT center */
#contact-info {
  text-align: center;
}

/* ARTISTS bio */

#artist-bio {
  text-align: center;
  width: 1000px;
  height: 500px;
  background: #f6f6f5;
  margin: auto;
  margin-bottom: 80px;
}

#artist-bio img {
  float: left;
}

h2 {
  float: left;
  font-size: 3.5em;
  padding-left: 220px;
  padding-top: 10px;
  position: absolute;
}

button {
  width: 150px;
  height: 30px;
  background: white;
  border: solid 3px #ff8800;
  border-radius: 5%;
  color: #ff8800;
  float: right;
  position: absolute;
  margin-left: 240px;
  margin-top: 10px;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  background: #ff8800;
  font-weight: bold;
}

.bio ul li {
  text-decoration: none;
  display: block;
  float: left;
  padding-top: 75px;
  padding-left: 225px;
  list-style-type: none;
  position: absolute;
}

/* RELEASES */

#releases {
  width: 1200px;
  margin: auto;
  background: #f6f6f5;
  padding-bottom: 10px;
  border-bottom: solid 2px #f3f3f3;
  margin-bottom: 45px;
}

h3 {
  color: #003666;
  background: white;
  padding-bottom: 4px;
}

#soundcloud {
  box-sizing: border-box;
  border-top: solid 2px #003666;
  width: 1200px;
  text-align: center;
}

iframe {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 14px;
  box-sizing: border-box;
}

/** INDEX Description **/

#label-descr {
  margin-bottom: 80px;
}

#label-descr p {
  text-align: center;
}

/** FOOTER **/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f6f6f5;
  text-align: center;
  line-height: 35px;
  border-top: solid 2px #f3f3f3;
  color: #003666;
  font-size: 0.8em;
}
